<title>Admin</title>
<h3>{{admin}}</h3>
<table align="center" class="admin-table">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <ul>
      <td>
        {{#monday}}
          <li>{{this}}</li>
        {{/monday}}
      </td>
      <td>
        {{#tuesday}}
          <li>{{this}}</li>
        {{/tuesday}}
      </td>
      <td>
        {{#wednesday}}
          <li>{{this}}</li>
        {{/wednesday}}
      </td>
      <td>
        {{#thursday}}
          <li>{{this}}</li>
        {{/thursday}}
      </td>
      <td>
        {{#friday}}
          <li>{{this}}</li>
        {{/friday}}
      </td>
      <td>
        {{#saturday}}
          <li>{{this}}</li>
        {{/saturday}}
      </td>
      <td>
        {{#sunday}}
          <li>{{this}}</li>
        {{/sunday}}
      </td>
    </ul>
  </tr>
</table>
<br>
<a href="/login" class="submit-btn">Logout</a>
